.navbar-brand img{
    width: 130px;
    margin-top: -5px;
    margin-bottom: 0px;
    display: block;
}

.navbar-nav{
    align-items: center;
}

.navbar-brand{
    margin-right: 0;
}

.navbar .navbar-nav .nav-link{
    color: rgb(255, 251, 251);
    font-size: 1.1em;
    padding: .5em 1em;
}

@media screen and (min-width:992px){
    .navbar-brand img{
        width: 100px;
    }
}